<!Doctype HTML>
<html>

<head>
    <title> Admin </title>
    <link rel="stylesheet" href="/css/AdminArea.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>

    <div id="mySidenav" class="sidenav">
        <p class="logo"><span>A</span>-Aladdin</p>
        <a class="/AdminArea" href="#"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
        <a href="/AdminArea" class="icon-a"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a>
        <a href="/user" class="icon-a"><i class="fa fa-users icons"></i> &nbsp;&nbsp;Customers</a>
        <a href="/report" class="icon-a"><i class="fa fa-shopping-bag icons"></i> &nbsp;&nbsp;Report</a>
        <a href="/inventory.ejs" class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Inventory</a>
        <a href="/add" class="icon-a"><i class="fa fa-list-alt icons"></i> &nbsp;&nbsp;Add</a>

    </div>
    <div id="main">

        <div class="head">
            <div class="col-div-6">
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav">&#9776; Dashboard</span>
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav2">&#9776; Dashboard</span>
            </div>

            <div class="col-div-6">
                <div class="profile">

                    <img src="/images/user.png" class="pro-img" />
                    <p>Ram Kumar <span>Admin</span></p>
                </div>
            </div>
            <div class="main-content">
        <main>
            <div class="product">
                <h2>Add Product</h2>
            </div> 
            <div class="form-control">
                <div class="edit">
                    <table width="40%">
                        <form action="/auth/addtoinventory" method="POST" enctype="multipart/form-data">
                            <%
                            if(addtoinventoryData.length!=0){
                            addtoinventoryData.forEach(function(results){
                            %>  
                            <tr>
                                <td><label for="">Product ID</label></td>
                                <td><input type="text" name="pro_id" value="<%= results.pro_id %>" onkeydown="return false"></td>
                            </tr>
                            <tr>
                                <td><label for="">Product Category</label></td>
                                <td><input type="text" name="pro_cat" value="<%= results.pro_cat %>" onkeydown="return false"></td>
                            </tr>
                            <tr>
                                <td><label for="">Product Name</label></td>
                                <td><input type="text" name="pro_name" value="<%= results.pro_name %>" onkeydown="return false"></td>
                            </tr>
                            <tr>
                                <td><label for="">Product Image</label></td>
                                <td><img src="http://localhost:8080/images/upload_images/<%=results.pro_img %>" width="100px" height="130px"alt="">
                                    <br>
                                    <span><%=results.pro_img %></span>
                                </td>
                            </tr>
                            <%})
                            }
                            %> 
                            <tr>
                                <td><label for="">Quantity</label></td>
                                <td><input type="number" name="quantity" placeholder="Kg" required></td>
                            </tr>
                            <tr>
                                <td><label for="">Price</label></td>
                                <td><input type="number" name="pro_price" required></td>
                            </tr>
                            <tr>
                                <td><label for="">Product Availability</label></td>
                                <td>
                                    <select name="pro_availability" id="" required>
                                        <option value="">Select</option>
                                        <option value="Available">Available</option>
                                        <option value="Out of Stock">Out of Stock</option>                                
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><button type="button" class="cancel" style="margin-left: 25px;" onclick="location.href='/addinventory'">Cancel</button></td>
                                <td><button type="submit" class="submit" style="margin-left: 25px;">Submit</button></td>
                            </tr>                        
                        </form>
                        <div>
                            <span class="message flex-div" >
                                <h3><%=locals.message ? message : ''%></h3>
                            </span>
                        </div>
                    </table>
                </div>
            </div>
        </main>
    </div>
    </div>
</body>


</html>